<h1>messages</h1>

<ul>
  {{#each messages}}
  <li>{{this.message}} ({{this.author}})</li>
  {{/each}}
</ul>

{{#if error}}
<p style="color: red">{{error}}</p>
{{/if}}
<form method="POST" action="message">
  <input type="email" name="authorEmail" placeholder="Enter your email">
  <input type="password" name="authorPassword" placeholder="Enter your password">
  <input type="text" name="message" placeholder="Enter a message">
  <button type="submit">send</button>
</form>

<a href="register">register</a>