<h1>messages</h1>

<ul>
  {{#each messages}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<form method="POST" action="message">
  <input type="text" name="message" placeholder="Enter a message">
  <button type="submit">send</button>
</form>