<h1>messages</h1>

<ul>
  {{#each messages}}
  <li>{{this.message}} ({{this.author}})</li>
  {{/each}}
</ul>

{{#if error}}
<p style="color: red">{{error}}</p>
{{/if}}

{{#if user}}
<form method="POST" action="message">
  <input type="text" name="message" placeholder="Enter a message">
  <button type="submit">send</button>
</form>
{{else}}
<p>You can't send a message until you log in</p>
<a href="/register">register</a>
<a href="/login">log in</a>
{{/if}}