<h1>Messages</h1>
{{#each messages}}
<p>{{this.message}} ({{this.author}})</p>
{{/each}}

{{#if user}}
<form action="message" method="post">
  <input type="text" name="message" placeholder="message" />
  <button type="submit">send</button>
</form>
{{else}}
You must <a href="/register">register</a> or <a href="/login">login</a> to send a message.
{{/if}}