<h1>messages</h1>

<ul>
  {{#each messages}}
  <li>
    <h2>{{this.author}}</h2>
    <p>
      {{this.message}}
    </p>
  </li>
  {{/each}}
</ul>

<form action="message" method="POST">
  <div style="display: flex">
    <input type="email" style="margin-right: .5em" name="authorEmail" placeholder="your email" />
    <input style="flex: auto; margin-right: .5em" type="text" name="message" id="message" placeholder="say something" />
    <button type="submit">send!</button>
  </div>
  <div style="margin-top: .5em">
    <a href="register">register for an account</a>
  </div>
</form>