<form action="greet" method="get">
  <input type="text" name="name" placeholder="what's your name" />
  <button type="submit">say hello</button>
</form>
<a href="google.com">asdf</a>
<!-- -->
{{!--  --}}