<h1>log in</h1>
{{#if error}}
<p style="color: red">{{error}}</p>
{{/if}}
<form action="login" method="post">
  <input type="email" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <button type="submit">log in</button>
</form>
<a href="/register">register</a>
<a href="/">home</a>