<h1>Register for an account pls</h1>
<form action="register" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
  </div>
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </div>
  <button type="submit">register</button>
</form>