<h1>register for an account</h1>
<form action="register" method="POST">
  <input type="email" name="email" placeholder="what's your email" />
  <input type="text" name="name" placeholder="what's your name" />
  <input type="password" name="password" placeholder="enter a password" />
  <button type="submit">register</button>
</form>
<a href="/">home</a>