<h1>register for an account</h1>
{{#if error}}
<p>{{error}}</p>
{{/if}}
<form action="register" method="POST">
  <input type="text" name="name" placeholder="name" />
  <input type="email" name="email" placeholder="email" />
  <input type="password" name="password" placeholder="password" />
  <button type="submit">register</button>
</form>
<a href="/login">log in</a>
<a href="/">home</a>