body {
  box-sizing: border-box;
  max-width: 500px;
  height: 100vh;
  margin: auto;
  padding: 0;
  /* margin-top: 1em; */
  font-family: Arial, Helvetica, sans-serif;
  /* color: #eee; */
  background: linear-gradient(35deg, orange, teal);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1em;
}
h1 {
  color: white;
  margin-top: 0;
  font-weight: lighter;
}
h2 {
  margin: 0 0 0.5em 0;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
li {
  display: block;
  /* margin: 1em; */
}
form,
li {
  padding: 1em;
  border-radius: 5px;
  background: #eee;
  color: #333;
  box-shadow: 1px 1px 8px rgb(88, 88, 88);
}
input {
  /* margin: 0.5em; */
}

button {
  color: teal;
}

button,
input {
  background: transparent;
  border-radius: 3px;
  border: 2px solid teal;
  /* margin: 0 1em; */
  padding: 0.25em 1em;
}
